<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="First Name" type="text" name="firstName" id="firstName" formControlName="firstName" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Last Name" type="text" name="lastName" id="lastName" formControlName="lastName" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" type="text" name="username" id="username" formControlName="username" required>
                                </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" type="text" name="password" id="password" formControlName="password" required>
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block">Sign Up</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
