<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" type="password" name="password" id="password" [formControl]="password" required>
                                <div [hidden]="password.valid || password.untouched">
                                <div>
                                    The following problems have been found with the password:
                                </div>

                                <div [hidden]="!password.hasError('required')">
                                    The password is required.
                                </div>
                                </div>
                                <input class="form-control" placeholder="User" type="text" name="username" required id="username" formControlName="username">
                            </div>
                            <div class="signup">
                                <a routerLink="/register">Sign Up</a>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>